// Place all the styles related to the inquiries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
    color: white;
    margin: 1em auto auto auto;
    font-size: 15px;
    background-color: #808080;
}
